footer{
    position: relative;
    width: 80%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: #383838;

}
.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer-content .logo{
    height: 160px;
}

.footer-ul-container{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.category{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    list-style: none;
}

.category-title{
    grid-column: span 2;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
.category .footer-link{
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.75);
}

.footer-link:hover{
    color: #fff;
}

.footer-title, .info{
    color: rgba(255, 255, 255, 0.75);
    margin: 20px 0;
    text-transform: capitalize;
}

.footer-title{
    margin-top: 80px;
    color: #fff;
}
.footer-social-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.social-link{
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
}
.social-link:nth-child(1){
    margin-left: 0;
}

.footer-credit{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background:rgba(0, 0, 0, 0.2);
}


@media (min-width: 481px) and (max-width: 768px) {
  
    .footer-content .logo{
        height: 112px;
    }
    
    .category{
        width: 140px;
        gap: 7px;
    }
    
    .category-title{
        font-size: 14px;
        margin-bottom: 14px;
    }
  
    
    .footer-title, .info{
        margin: 14px 0;
        font-size: small;
    }
    
    .footer-title{
        margin-top: 56px;
    }
    .footer-social-container{
        margin-top: 28px;
    }
    .social-link{
        margin-left: 14px;
        font-size: small;
    }
    
    .footer-credit{
        padding: 7px;
        font-size: small;
    }
}

@media (max-width: 480px) {
    .footer-content .logo{
        height: 85px;
    }
    
    .category{
        width: 98px;
        gap: 5px;
    }
    
    .category-title{
        font-size: 12px;
        margin-bottom: 14px;
    }
  
    
    .footer-title, .info{
        margin: 10px 0;
        font-size: 12px;
    }
    
    .footer-title{
        margin-top: 20px;
    }
    .footer-social-container{
        display: block;
        margin-top: 20px;
        text-align: center;
    }
    .social-link{
        
        margin-left: 5px;
        font-size: 12px;
    }
    
    .footer-credit{
        padding: 7px;
        font-size: 12px;
    }
}